/* @override 
	http://localhost/Applications/MAMP/htdocs/booker/real_system/assets/style.css
	http://localhost/assets/style.css
	http://projects.tnguyen.ch/comp4/assets/style.css
	http://projects.tnguyen.ch/assets/style.css */
	@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,400,600);
	
	body {
	font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, Geneva, sans-serif;
	background-color: #d3d5dd;
    overflow-y: scroll;
    overflow-x: hidden;
		
	}
	
	#container {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
		background-color: #ffffff;
		display: block;
		overflow: hidden;
		padding: 50px 2em;
		margin-bottom: 50px;
	}
	@media (min-width: 800px) { 
        #container {
            width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
  
        .heading { font-size: 2em }
	}

	/* @group nav */
	
	header {

		background: #fefffe;

			font-family: 'Open Sans';
				}
	
	
	header ul {
		list-style: none;
		margin: 0 auto;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
		overflow: hidden;
		text-align: center;
	}
	
	header ul li {
		display: inline-block;
		margin-right: 10px;
	}
	
	header ul a {
		text-transform: uppercase;
		color: #000;
		font-size: 14px;
		padding: 10px 15px;
		line-height: 18px;
		text-decoration: none;
		border-radius: 5px;
		display: block;
	}
	
	header ul a:hover {
		background: gray;
		color: #fff;
	}
	header ul a:active, ul a.active {
		color: #fff;
		background-color: #434443;
	}
	
	/* @end */
	
	#heading, #footer {
width: 90%;
	max-width: 800px;
	margin-right: auto;
		margin-left: auto;
		height: 100px;
		padding-top: 40px;
	}
/*	.img-replace {
  /* replace text with an image *!/
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}*/
	
	#branding {
		font-size: 2em;
		float: left;
		font-weight: bold;
	}
	#headingright {
		text-align: right;
		overflow: hidden;
		font-size: 0.9em;
		margin-top: 15px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: Montserrat, Helvetica, Arial, sans-serif;
	}


	#left {
		float: left;
		width: 45%;
		display: inline-block;
		height: auto;
	}
	#right {
		float: right;
		height: auto;
		display: inline-block;
		width: 45%;
	}
	
	#group {
		background-color: #f0f0f2;
		width: 100%;
		display: inline-block;
		margin-bottom: 1em;
		padding: 0.0000012em;
	}
	#forms #group{
		background-color: #ffffff;
	}
	#group .left {
float: left;
width: 45%;
height: auto;
		padding: 1px;
	}
	#group .right{
float: right;
height: auto;
display: inline-block;
width: 45%;
		padding: 1px;
		text-align: right;
	}

	a {
	  color: #444;

		text-decoration: none;
	}
	a:hover{
	  transition: 0.25s;
		  color: #3585bb;
	}
	.vertical-line {
	    border-left: thick solid #000;
		height: 100px;
		width: 1px;
		right: auto;
		left: auto;
	}
	hr {
		border-top-style: solid;
		border-top-color: #9b9b9b;
		border-bottom-style: hidden;
		border-right-style: hidden;
		border-left-style: hidden;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	#hr_invisible {
		border-bottom-style: hidden;
		border-right-style: hidden;
		border-left-style: hidden;

		border-style: solid;
		border-color: #ffffff;
		margin-top: 1em;
	}
	label {
		display: block;
	}
.bigbox a {
	background-color: #b1b4bf;
	display: block;
	width: 100%;
	height: 150px;
	text-align: center;
	padding-top: 5em;
	margin-top: 3em;
	margin-bottom: 3px;
}

	
	.bigbox a:hover {
		background-color: #7b8093;
		color: #ffffff;
	}

	
	/* @group Accordion */
	
	#accordion {
		list-style:none;
		width: 100%;
	}	
	#accordion li {
		position: relative;
		right: 2.5em;
	}
	#accordion #topbox {
		margin:1px;
		cursor:pointer;
	}
#accordion .base{
	background-color: #424342;
	height: 50px;
}
#accordion .base p{
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 0.2em;
	padding-left: 35px;
	color: #ffffff;
	font-weight: bold;
}
#accordion #indicator {
	width: 20px;
	height: 50px;
	float: left;
	display: inline-block;
}
	#accordion #indicator.checkedin{
		background-color: #b6efa7;
		display: inline-block;
	}
	#accordion #indicator.notcheckedin{
		background-color: #424342;
		display: inline-block;
	}
	#accordion #indicator.missing{
		background-color: #db8a8a;
		display: inline-block;
	}
	#accordion :focus, #accordion :focus p{
		background-color: #fdefb0;
		color: #393939;
	}
	
	
	#accordion ul li{
		font-weight:normal;
		cursor:auto;
		background-color:#f3f3f3;
		padding:0 0 0 7px;
		display:table-cell;
	}
	/* @end */
	
	/* @group Login */
	
	input[type=text], input[type=password], textarea {
	background-color: #ECF0F1;
	transition: border .5s;
	}
	input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid #335ea6;}
	#submit {
	  background-color: #303c49;
		color: #ffffff;
	}
	
	#submit:hover {
	  background-color: #335ea6;
	}
	
	.login-container {
		text-align: center;
	}
	/* @end */
	
	/* @group Inputs */



	button, input, .credentials, textarea, #select {
	border: 1px solid transparent;
		line-height: 25px;
		transition: 0.25s;
		font-size: 1em;
		padding: 5px;
		-webkit-appearance: none;
	}
	input, textarea {
	border: 1px solid rgba(0, 0, 0, 0.09);
		background-color: #f4f4f4;
		color: #000000;
	}
	select#navigator{
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	
	form#date.select{
		text-align: center;
	}
	#date.select select{
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		display: inline-block;
		width: 27%;
	}
	input#price{
		width: 90px;
	}
	#select, select {
	width: 100%;
	-webkit-appearance: button;
	-webkit-border-radius: 1px;
	color: #8d8d8d;
	font-size: inherit;
	padding: 10px;
	background-color: #f3f4f3;
	border: 1px solid #d4d4d4;
		}
	button:hover {
	background-color: #335ea6;
	color: #ffffff;
	}
	textarea#description {
		height: 37px;
		width: 250px;
	}
	textarea#description:focus{
	    height: 7em;
	}

	#forms input#next, input#next_disabled{
	border: 1px solid transparent;
		background-color: #dac3c3;
		float: right;
		width: 100px;
		height: 50px;
	}
	#forms #verify{
		background-color: #d33232;
		float: right;
		height: 100px;
		width: 400px;
	}
	#forms input#next:hover {
		background-color: #9b2828;
		cursor:pointer;
	}
	#forms input#next_disabled {
		background-color: #dfdfdf;
	}

	@media screen and (max-width: 480px) {
	   #forms .left, #left, #group .left,  #group .right,
	   #forms .right, #right {
	        float: none;
	        width: 100%;
	    }
	}
	
	#forms .group:after {
	    content:"";
	    display: table;
	    clear: both;
	}
	#forms img {
	    max-width: 100%;
	    height: auto;
	}
	
	/* @group Register */
	#password_bar {
		background-color: #d6d6d6;
		display: block;
		width: 276px;
		padding: 2px;
	}
	#password_strength {
		border: 1px solid transparent;
		line-height: 25px;
		transition: 0.25s;
		color: #000000;
		font-size: 1em;
		background-color: #d5d6d5;
		display: block;
		border-top-style: none;
		text-align: center;
		padding-top: 6px;
		padding-bottom: 6px;
		height: 24px;
		width: 80px;
	}
	#password_strength.short{
		color: #ffffff;
		background-color: #fe7c7c;
		width: 30%;
	}
	
	#password_strength.weak{
		color: #383838;
		background-color: #ffd1d1;
		width: 40%;
	}
	
	#password_strength.good{
		color: #ffffff;
		background-color: #79d300;
		width: 70%;
	}
	
	#password_strength.strong{
		color: #ffffff;
		background-color: #5dab1e;
		width: 90%;
	}
	
	/* @end */
	
	/* @group Captcha */
	#recaptcha_area, #recaptcha_table { line-height: 0!important;
	}
	
	/* @end */
	
	/* @end */
	
	/* @group Checkin */
	
	#checkin_topbar {
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		background-color: #d99494;
		margin-right: auto;
		margin-left: auto;
		height: 150px;
	}
	#checkin_topbar .group {
		padding: 10px;
			height: 100px;
	}
	#checkin_topbar .group .left {
		padding: 20px 0;
		float: left;
	}
	#checkin_topbar .group .right {
		padding: 20px 0;
		float: right;
		position: relative;
		top: -20px;
	}
	#checkin_topbar input#username_ {
		width: 80%;
		top: -50px;
		position: relative;
		left: 35px;
	}
	.blank {
		height: 160px;
		width: 100%;
	}
	#checkin_comments {
		background-color: #c9c9c9;
		padding: 10px;
	}
	#accordion button {
		background-color: #d5d5d5;
	}
	/* @end */
	
	/* @group Calendar */
	
	#calendar {
	margin-bottom: 1em;
	margin-top: 1em;
	width: 100%;
	}
	#calendar th {
	background-color: #313231; 
	font-size:12px;
	color:#FFFFFF; 
	text-align:centerwidth: 1px;
	width: 14.285%;
	height: 30px;
	}

	#calendar #week a {font-size:34px; text-decoration:none; color:#000000; padding:0 14px 0 14px}
	#calendar #center_date {
	margin:0 auto; 
	text-align:center;
		font: bold 16px Montserrat;
		text-transform: uppercase;
	}
	
	.days {
	text-decoration:none;
	color:#FFFFFF;
	margin:0;
	padding-top: 0px;
	padding-left: 0;
	font-size:0;
		border: 1px solid #313131;
	}
	.box {
		background-color: #d62a2a;
		height: 60px;
	}
	.days span {
	position:relative;
		height:32px;
		display:block;
		font-size: 12px;
		text-align: right;
		margin-top: -32px;
		margin-right: 10px;
	}

	table#key {
		padding: 10px;
	}
	#key {
		width: 100%; 
		color: #999;
		background-color: #f2f2f2;
		font-size: 0.8em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	#key td {
	text-align:center;
		width: 20%;
		height: 30px;
	}
	
	#key_fullybooked {background-color:#d80000}
	#key_sunday {background-color: #594858
	}
	#key_partbooked {
	background-color: #f6c23e;
		color: #d53e3e;
	}
	#key_available {background-color: #bed73b;
	}
	#key_unavailable {background-color: #3c3d3c;
	}
		#key_null {background-color: #313131;
		}
	
	#calendar_form textarea {width: 100%
	}

	
	/* @end */
	
.error, .update, .status {
	line-height: 25px;
	transition: 0.25s;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.error{
background: #d44848;
color: #ffffff;
}
.update{
background: #ffbf24;
color: #000000;
}
.status {
background-color: #3a6da4;
color: #ffffff;
}


/* @group Pagination */
ul#pagination{
	list-style: none;
	text-align: center;
	padding-top: 1em;
	padding-right: 0;
	padding-left: 0;
}
#pagination li{
	display: inline-block;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
}

#pagination #active, #pagination li:hover{
	-moz-border-radius: 30px; /* or 50% */
	border-radius: 30px; /* or 50% */
	text-align: center;
	position: relative;
} 
#pagination li:hover{
	background-color: #fce7b3;
}
#pagination li#active{
    background-color: #f6bf3e;
}
#pagination li#active:hover, #pagination li#active a:hover{
    background-color: #cfccc4;
	color: #ffffff;
}
/* @end */
